* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html {
  font-family:Helvetica;
}

nav {
  background: black;
}

ul {
  display:flex;
  justify-content:flex-end;
  background:black;
  padding: 1rem 0;
  flex-wrap:wrap;
}

ul li {
  list-style-type: none;
}

ul a {
  color:white;
  text-decoration: none;
  margin: 5rem;
}

a:hover {
  color: green;
}

.logo {
  flex:4;
}

.pageContainer {
  width:80%;
  margin: 0 auto;
}

.mainContent {
  display:flex;
  justify-content:space-around;
  border:1px solid black;
  flex-wrap:wrap;
}

.col-2 {
  border:1px solid black;
  width:50%;
  padding:2rem;
}
p {
  margin-top: 1rem;
}

.rowMainContent {
  display:flex;
  justify-content:space-between;
}

.col-4 {
  border:1px solid black;
  width:25%;
  padding:2rem;
}

.bottomFooter {
  border:2px solid black;
  padding:2rem;
  flex-wrap:wrap;
  justify-content: center;
  text-align: center;
}
